*{
  margin: 0;
  padding: 0;
}

 hr {
  position: absolute;
  
  height: 0px;
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  padding: 20px;
  font-size: 40px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #555;
}


 .navigation{
  position: absolute;
    width: 100%;
    height: 90px;
    padding: 0 100px;
    padding-left: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  left:900px;
  margin-top: 2px;
}


.login-btn{
  background-color: #fbefcc;
 
  width: 125px;
  height: 150px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  color: black;
  text-transform: uppercase;
  transition: all .2s;
  cursor: pointer;

}
.donate-btn{
  background-color: #f9ccac;
  
  width: 125px;
  height: 150px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  color: black;
  text-transform: uppercase;
  transition: all .2s;
  cursor: pointer;
}
.shop-btn {
  background-color: #f4a688;
  
  width: 125px;
  height: 150px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  color: black;
  text-transform: uppercase;
  transition: all .2s;
  cursor: pointer;
}

.login-btn:hover,.donate-btn:hover,.shop-btn:hover,.arrow1:hover {
  transform: scale(1.06);
}

.wildlife,.memory,.covid,.plants {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 60vh;
}  

.wildlife img,.memory img,.covid img,.plants img {
  width: 100%;
  height: 70vh;
}

.logo{
    padding-top: 10px;
    cursor: pointer;
}

.logo img{

  position: relative;
  padding-left: 20px;
  width: 210px;
  height: 120px;
}

.logo:hover {
  border: 1px solid #fbefcc;
}

.content {
  position: absolute;
  top: 370px;
  color:white;
  text-align: justify;
  width: 50%;
}

.content h1 {
  text-align: left;
  padding-left: 50px;
  font-size: 50px;
}

.content p {
  padding-top: 20px;
  padding-left: 50px;
  text-align: left;
  font-size: 30px;
}

.foot {
  margin-top: 1820px;
  height: 140px;
  width: 50%;
   cursor: pointer;
}

.foot1 {
  margin-top: -140px;
  height: 140px;
  width: 50%;
  margin-left: 50%;
   cursor: pointer;
}

.logo1 {
    padding-top: 70px;
}

.logo1 img{

  position: relative;
  padding-left: 43%;
  width: 210px;
  height: 120px;
}

.line {
  text-align: center;
  padding-top: 30px;
  opacity: 80%;
}

.end {
  padding-top: 25px;
  text-align: center;
}

.first {
  width: 49%;
  text-align: right;
  position: absolute;
  top: 2010px;
  color: white;
  cursor: pointer;
  transition: width 1s;
}

.e1 {
  font-size: 44px;
  padding-top: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: impact;
}

.ep1 {
  font-size: 24px;
  padding-top: 5px;
}

.first:hover {
   width:47%;
}

.second {
  width: 49%;
  left: 51%;
  text-align: left;
  position: absolute;
  top: 2010px;
  color: white;
  cursor: pointer;
  transition: left 1s;
}

.e2 {
  font-size: 44px;
  padding-top: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: impact;
}

.ep2 {
  font-size: 24px;
  padding-top: 5px;
}

.second:hover {
   left: 53%;
}

.fa-facebook,.fa-twitter,.fa-youtube,.fa-instagram{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: crimson;
  color: white;
}

.share{
  padding-left: 39%;
  padding-top: 40px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
}

.para{
  position: absolute;
  width:50%;
  
  padding-left: 350px;
  text-align: justify;
  font-size: 20px;
}

.p1{
  position: absolute;
  width: 50%;
  padding-left: 350px;
  text-align: justify;
  font-size: 20px;
}

.heading {
  position: absolute;
  width:50%;
  padding-left: 350px;
  text-align: left;
}

.content1 {
  position: absolute;
  top: 370px;
  color:black;
  text-align: justify;
  width: 90%;
}

.content1 h1 {
  text-align: center;
  padding-left: 50px;
  font-size: 50px;
}

.content1 p {
  padding-top: 20px;
  padding-left: 50px;
  text-align: center;
  font-size: 30px;
}